<p id="notice"><%= notice %></p>

<p>
  <strong>Collector:</strong>
  <%= @collection.collector %>
</p>

<p>
  <strong>Book:</strong>
  <%= @collection.book %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
